{% extends "base.html" %}
{% block content %}
{% load item_extras %}

<div class="row py-lg-3 text-center">
  <h1 class="fw-light">Your cart</h1>
  <p class="lead text-muted"></p>
</div>

<div class="album py-6 bg-light">
  <div class="container">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.items.all  %}
            <tr>
              <td>
                <p class="lead">{{ item.name }}</p>
              </td>
              <td>
                ₽{{ item.price | divide:100 | floatformat:2}} 
              </td>
              <td>
                {{ item.quantity }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>

{% endblock content %}