# Postgres, Django
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=payment
POSTGRES_PASSWORD=password
POSTGRES_DB=payment_db
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=

STRIPE_PUBLIC=
STRIPE_SECRET=

